<div id = "course_wrap">
	<p id ="signup_note">Sign up to participate in adding legal questions for the tens of thousands of law students and help guide them through their sure to be brutal first year of law school by offering advice and words of encouragement!</p>

	<div id="signup_form">	

		<h3 id="signup_size">SIGN UP</h3>
	<!-- This CREATES the user...since Create corresponds to NEW -->


		<p>
		<%= form_for @lawyer, :url => "/lawyers/", :html => { :multipart => true } do |form| %>   
		<%= form.label :first_name %><br>
		<%= form.text_field :first_name %>  
		</p>

		<p>
		<%= form.label :last_name %><br>   
		<%= form.text_field :last_name %>   
		</p>

		<p>
		<%= form.label :name_of_firm %><br>
		<%= form.text_field :name_of_firm %>   
		</p>

		<p>
		<%= form.label :password %><br>  
		<%= form.password_field :password %> 
		</p>  

	<%= form.submit "Sign up" %>
	<%= form.file_field :avatar %>

<% end %>
</div>

	<%=image_tag "0008.jpg", id: "move_image" %>
</div>