<b><hr></hr></b>

  <div id="login_form_shift">

<strong><h3>Log in</h3></strong>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

<%= link_to("Administrator Login", "/admin/login", :id => "admin")%>

<% end %>
</div>
<div id="padding_bottom"></div>

<b><hr></hr></b>



<%= render "users/shared/links" %>
