<!DOCTYPE html>
<html>

<div id="course_wrap">
    <p id="home"><%= link_to("Home", "/") %></p> 
    <a id="about">About</a>

    <%=image_tag "Toon_In_Logo.jpg", id: "logo" %> 
    <p id="tagline">Look. Learn. Laugh!</p>
      <head>
        <title>LawProject</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      </head>

        <% if flash[:notice] %>
          <div id="notice">
            <%= flash[:notice]%>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div id="alert">
            <%= flash[:alert]%>
          </div>
        <% end %>



      <body>
         <!--    <% if user_signed_in? %>
              <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %> -->
     <!--  <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->
        <%= yield %>
      </body>
    </html>

    <html>
    <head>
    <style>
</div>

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #8A0808;
    color: white;
}
.modal-body {padding: 2px 16px;}
.modal-footer {
    padding: 2px 16px;
    background-color: #8A0808;
    color: white;
}
#about_text {
    font-size: 16px;
    line-height: 40px;
}
</style>
</head>
<body>


<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span></span>
      <h4 id="modal_heading">Toon In! Books</h4>
    </div>
    <div class="modal-body">
      <p id="about_text">Let's face it guys and gals. Law school is a real chore. You will be studying more than you sleep. You definitely won't have enough time for your friends or significant other. However, if you can make it through your first year...you can make it through your final two years. Yeah, yeah, you hear everything about law school. The books. The texts. The lectures (hopefully not a boring one)...but one thing is a guarantee is the reading. You will be reading a lot and for better or worse they are NOT fun books. Toon In series hope to change that. Starting with Legal Toons, these books provide not only fun humor books for your education, but it simplifies the material. You WILL be taking a class in the books we provide. Therefore, only way to go is up! And laugh in the process of course.</p>
      <p id="look_learn_laugh">Look. Learn. Laugh!</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>


<script>
  var modal = document.getElementById('myModal');
  var about = document.getElementById("about");
  var span = document.getElementsByClassName("close")[0];
  about.onclick = function() {
      modal.style.display = "block";
  }
  about.onmouseleave = function() {
      modal.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>


</body>
</html>

